body {
    margin: 0;
    padding: 0;
    font-family: monospace;
    font-size: 20px;
}

.AppContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw
}

.Clock{
    font-size: 30px;
}

.MainContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 70%;
    text-align: center;
}

.CurrenciesContainer, .HistoricalRateContainer{
    width: 100%;
}

.Currency, .CurrencyHeader{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.Currency div, .CurrencyHeader div, .HistoricalRateHeader div, .HistoricalRate div{
    flex: 1 1 0;
    text-align: center;
    width: 100%;
}

.Currency:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.HistoricalRateOption{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.HistoricalRateOption input, .HistoricalRateOption button{
    font-family: monospace;
    font-size: 20px;
    background-color: white;
}

.HistoricalRateOption input:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.HistoricalRateOption button:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.HistoricalRateOption div{
    text-transform: uppercase;
}

.HistoricalRate, .HistoricalRateHeader{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid black;
    margin: 5px;
    padding: 5px;
    width: 100%;
}

.HistoricalRate:hover{
    cursor: pointer;
    background-color: aliceblue;
}

.LoadingPageContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.LoadingPage{
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 200px;
    height: 200px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ErrorPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: red;
}